
<div class="container">
  <div class="navbar navbar-light bg-dark">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-secondary" id="savebutton" (click)="takeScreenshot()" *ngIf="datos.pos[0]">Descargar Tabla
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z"/></svg>
        </button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-secondary" (click)="refresh()" id="savebutton">Refresh</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div id="tablacompleta">
    <div id="fondotabla">
  <div class="row paralelogramo justify-content-center" id="parallelogram">
    <div class="col-md-4 blanco">
      <div class="col-md-1 nopadding">
        <img id="categorialogo" *ngIf="categoria == 'clasea'" src="../../assets/gt3logo.png">
        <img id="categorialogo" *ngIf="categoria == 'claseb'" src="../../assets/gt4logo.png">
        <img id="categorialogo" *ngIf="categoria == 'rf2'" src="../../assets/gt3cuplogo.png">
      </div>
    </div>
    <div class="col-md-8 gris">
      <div class="row">
        <h1 id="textotablaposiciones">TABLA DE POSICIONES</h1>
      </div>
      <div class="row">
        <div class="col-md-10">
          <h2 id="textotablaposiciones" class="textosubtitulo" >{{numerofecha}}</h2>
        </div>
        <div class="col-md-2"><img id="ilslogo" src="../../assets/Blanco.png"></div>
      </div>

    </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-md-10">
        <table class="table borderless">
          <thead>
          </thead>
          <tbody id="texto">
            <tr *ngFor="let dato of datos.pos; index as i;"  id="onelinetext">
              <td id="textoposiciones" class="textonumero" *ngIf="datos.puntos[i] > 0"
                >
                {{datos.pos[i]}}
              </td>
              <td *ngIf="datos.puntos[i] > 0">
                <!-- ver esto para distintos paises -->
                <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg'" class="mr-2" style="width: 20px"> -->
                {{datos.nombre[i]}}
              </td>
              <td id="textoequipos" *ngIf="categoria == 'clasea' || categoria == 'claseb' && datos.puntos[i] > 0">{{datos.equipo[i]}}</td>
              <td *ngIf="datos.puntos[i] != 1 && datos.puntos[i] > 0">{{datos.puntos[i]}} Pts</td>
              <td *ngIf="datos.puntos[i] == 1 && datos.puntos[i] > 0">{{datos.puntos[i]}} Pt</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>