<div class="container">
  <div class="row paralelogramo" id="parallelogram" >
    <div class="col-md-4 blanco">
      <div class="col-md-1 nopadding">
        <img id="categorialogo" *ngIf="categoria == 'gt3'" src="../../assets/gt3logo.png">
        <img id="categorialogo" *ngIf="categoria == 'gt4'" src="../../assets/gt4logo.png">
        <img id="categorialogo" *ngIf="categoria == 'gt3cup'" src="../../assets/gt3cuplogo.png">
      </div>
    </div>
    <div class="col-md-8 gris">
      <div class="row">
        <h1 id="textotablaposiciones">TABLA DE POSICIONES</h1>
      </div>
      <div class="row">
        <div class="col-md-10">
          <h2 id="textotablaposiciones">Fecha {{numerofecha}}</h2>
        </div>
        <div class="col-md-2 nopadding"><img id="ilslogo" src="../../assets/Blanco.png"></div>
      </div>

    </div>
  </div>
  <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table borderless ">
          <thead>
          </thead>
          <tbody id="texto">
            <tr *ngFor="let dato of datos.pos; index as i;"  id="onelinetext">
              <td id="textoposiciones" *ngIf="datos.puntos[i] > 0">
                {{datos.pos[i]}}
              </td>
              <td *ngIf="datos.puntos[i] > 0">
                <!-- ver esto para distintos paises -->
                <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg'" class="mr-2" style="width: 20px"> -->
                {{datos.nombre[i]}}
              </td>
              <td id="textoequipos" *ngIf="categoria == 'gt3' || categoria == 'gt4' && datos.puntos[i] > 0">{{datos.equipo[i]}}</td>
              <td *ngIf="datos.puntos[i] != 1 && datos.puntos[i] > 0">{{datos.puntos[i]}} Pts</td>
              <td *ngIf="datos.puntos[i] == 1 && datos.puntos[i] > 0">{{datos.puntos[i]}} Pt</td>
            </tr>
            
          </tbody>
        </table>
      </div>

  </div>