<div class="container" *ngIf="loading">
  <div class="loader">Loading...</div>
</div>
<div class="container" *ngIf="!loading">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1>Tablas de campeonato:</h1>
      </div>
      <div class="col-md-2"></div>
    </div>
    
    <!-- <div formGroupName="address">
      <h3>Nuevo campeonato:(Mock)</h3>
    
      <label>
        Simulador:
        <input type="text" formControlName="street">
      </label>
    
      <label>
        Titulo:
        <input type="text" formControlName="city">
      </label>
      
      <label>
        Descripcion:
        <input type="text" formControlName="state">
      </label>
    
      <label>
        Link:
        <input type="text" formControlName="zip">
      </label>
    </div> -->

      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h2>Seleccione de la siguiente tabla</h2>
            <input type="text" text-right maxLength="2" placeholder="Ingrese numero de carrera aqui" [(ngModel)]="numerocarrera">
              <div class="card">
                <h5 class="card-header">Gt3</h5>
                <div class="card-body">
                  <p class="card-text">http://vps1.ils.simracer.com.ar:8773/championship/bf5b50c3-83c4-4aee-aa0b-e67dae515dc2</p>
                  <a [routerLink]="['/tablav2', 'gt3' , numerocarrera]" routerLinkActive="router-link-active" class="btn btn-primary">Ir a la tabla</a>
                  <!-- <a routerLink="/tablav2" routerLinkActive="router-link-active" class="btn btn-primary">Editar (mock)</a> -->
                </div>
              </div>  
              <div class="card">
                <h5 class="card-header">Gt4</h5>
                <div class="card-body">
                  <p class="card-text">http://vps1.ils.simracer.com.ar:8774/championship/e9fdfdcb-a6d6-41f4-92a7-3c354443e975</p>
                  <a [routerLink]="['/tablav2', 'gt4' , numerocarrera]" routerLinkActive="router-link-active" class="btn btn-primary">Ir a la tabla</a>
                  <!-- <a routerLink="/tablav2" routerLinkActive="router-link-active" class="btn btn-primary">Editar (mock)</a> -->
                </div>
              </div> 

              <div class="card">
                <h5 class="card-header">Gt3 cup</h5>
                <div class="card-body">
                  <p class="card-text"> Se arma con el json del web2py</p>
                  <a [routerLink]="['/tablav2', 'gt3cup' , numerocarrera]" routerLinkActive="router-link-active" class="btn btn-primary">Ir a la tabla</a>
                  <!-- <a routerLink="/tablav2" routerLinkActive="router-link-active" class="btn btn-primary">Editar (mock)</a> -->
                </div>
              </div>                    
          </div>
          <div class="col-md-2"></div>
      </div>
    
  </div>
  