<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1>Ir a la tabla de campeonato</h1>
        <h2>Opcion 1: Ingrese el link del campeonato</h2>
      
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <input type="text">
            <button routerLink="/tabla" routerLinkActive="router-link-active">IR</button> 
        </div>
        <div class="col-md-4"></div>
    </div>
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h2>Opcion 2: Seleccione de la siguiente tabla</h2>
            <div class="card">
                <h5 class="card-header">Assetto Corsa</h5>
                <div class="card-body">
                  <h5 class="card-title">Campeonato C6R</h5>
                  <p class="card-text">Descripcion del campeonato ...</p>
                  <a routerLink="/tabla" routerLinkActive="router-link-active" class="btn btn-primary">Ir a la tabla</a>
                </div>
              </div>
              <div class="card">
                <h5 class="card-header">Assetto Corsa</h5>
                <div class="card-body">
                  <h5 class="card-title">Campeonato F3 Rss</h5>
                  <p class="card-text">Descripcion del campeonato ...</p>
                  <a routerLink="/tabla" routerLinkActive="router-link-active" class="btn btn-primary">Ir a la tabla</a>
                </div>
              </div>  
          </div>
          <div class="col-md-2"></div>
      </div>
    
  </div>
  