<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://as.com/meristation/imagenes/2019/04/15/avances/1555329109_986168_1555337118_noticia_normal.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Tablas de Campeonato</h5>
                  <p class="card-text">Armador de tablas de camponato para Assetto Corsa y rFactor2</p>
                  <a routerLink="cargarCampeonato" routerLinkActive="router-link-active" >Ir a las tablas</a>
                </div>
              </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.xgn.es/upload/201907/trucos-de-assetto-corsa-competizione.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sistema de clases</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="" routerLinkActive="router-link-active">Ir al sistema</a>
                </div>
              </div>
        </div> -->
        <div class="col-md-2"></div>
    </div>
</div>